@page "/configurando"
@using Tarea7_Vacunas.Models 

<h3>Registro de vacunas</h3>

<h1 style=" text-align: center; color: white; height: 65px">Vacunas</h1>

<div class="container">
    <label> <b>ID:</b></label>
    <input style="width: 35%;" type="text" class="form-control" placeholder="Escriba un valor para identificar la vacuna ">
    <br>
    <label> <b>Marca (Nombre):</b></label>
    <input style="width: 35%;" type="text" class="form-control" placeholder="Digite el nombre de la vacuna. ">
    <br>
    <label> <b>Cantidad:</b></label>
    <input style="width: 35%;" type="text" class="form-control" placeholder="Cantidad de vacunas, Ejemplo: 10 ">
    <br>

    <button class="btn btn-primary" onclick="EnviarDatos">Registrar</button>
    <button class="btn btn-success" onclick="Update">Actualizar</button>
</div>

<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-dark table-borderless">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Vacunas vac in GetVacunas())
                { 
                <tr>
                    <td>@vac.VacunasId </td>
                    <td>@vac.Nombre</td>
                    <td>@vac.Cantidad </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-4"></div>
</div>

@code{@* Creando los campos que almacenarán los datos *@string idvacuna = "", nombre = "", cantidad = "";

        public List<Vacunas> GetVacunas() => new registrovacunaContext().Vacunas.ToList();

        public List<Vacunas> vacunas;

        protected override void OnInitialized()
        {
            vacunas = GetVacunas();
        }


        public void EnviarDatos()
        {

            Models.Vacunas vacu = new Models.Vacunas();
            vacu.VacunasId = int.Parse(idvacuna);
            vacu.Nombre = nombre;
            vacu.Cantidad = int.Parse(cantidad);

            using (registrovacunaContext context = new registrovacunaContext())
            {
                context.Add(vacu);
                context.SaveChanges();
            }

        }


}
