<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Tarea7-Vacunas</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Registrar">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Registrar Vacunas
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Consultar">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta de Vacunados
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ListadoVP">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> V  por provincia
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ListadosMV">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> V  marca de vacuna
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ListadosVSZ">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> V por signo zodiacal
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Anulacion">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Anular registro..
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Configuracion">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Configuracion
                </NavLink>
            </li>
        </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
